<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT_USER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-light">Project name</a>

        <a href="/logout" class="text-light">Logout</a>
    </nav>
</div>
<table class="table table-dark"><tr>
    <td class="col-md-10"></td>
    <td><a class="text-light" th:href="@{/logout}">Logout</a></td>
</tr></table>
<div>
    <p  id="t_roleAdmin" class="filterable-cell" th:text = "admin"></p><!--th:each="role : ${roles}" th:object="${role}">-->
    <p  id="t_roleUser" class="filterable-cell" th:text="user"></p><!--id="t_role" class=""-->
</div>
<div class="container">

    <p  id="t_roleQser" class="filterable-cell" th:align="center" th:text="___InformationPage"></p><!--id="t_role" class=""-->

    <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>email</th>
        </thead>

        <tr class="col-md-10"></tr>
        <form th:method="post" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
            <input type="hidden" th:field="*{password}"/>
            <th:block><label for="id"></label></th:block>
            <th:block><input readonly type="number" th:field="*{id}" id="id"/></th:block>
            <td><label for="login">Login</label></td>
            <td><input type="text" th:field="*{login}" id="login" required/></td>
            <td><label for="name">Enter name</label></td>
            <td><input type="text" th:field="*{firstName}" id="name" required/></td>
            <td><label for="SecondName">Enter SecondName</label></td>
            <td><input type="text" th:field="*{lastName}" id="SecondName" required/></td>
            <td><label for="Email">Enter E-Mail</label></td>
            <td><input type="text" th:field="*{email}" id="Email" required/></td>
            <td><input type="submit" value="Update"/></td>
        </form>
        <form th:method="delete" th:action="@{'/admin/__*{id}__'}">
            <td><input type="submit" value="Delete"/>
        </form>
        <td><a href="/admin/all"><input type="button" value="BackToList"/></a></td>
        </form>
        </tr>
    </table>
</div>
    </body>

</html>