<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOW_ALL_&_OPEN_CREATE_NEW_USER</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
&lt;!&ndash;    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-dark"><tr>
    <td class="col-md-10"></td>
    <td><a class="text-light" th:href="@{/logout}">Logout</a></td>
</tr></table>&ndash;&gt;-->
    <!--<div class="container">
        <table class="table table-striped">
            <thead>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
            </thead>

            <tr th:each="user : ${allUsers}" th:object="${user}">
                <td id="t_id" class="filterable-cell" th:text="*{id}"></td>
                <td><a th:href="@{'/admin/__*{id}__'}" id="t_name" class="filterable-cell" th:text="*{firstName}"></a></td>
                <td id="t_last_name" class="filterable-cell" th:text="*{lastName}"></td>
                <td id="t_email" class="filterable-cell" th:text="*{email}"></td>
                <td id="t_role" class="filterable-cell" th:text="*{authorityList}"></td>
                <td>
                    <form th:method="delete" th:action="@{'/admin/__*{id}__'}">
                        <a class="btn btn-mini btn-info" th:href="@{/admin/{id}(id=${user.getId()})}">Edit</a>
                        <input type="submit" class="btn btn-mini btn-danger" value="Delete"/>
                    </form>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-success" th:href="@{/admin/new}" id="newUser">Add user</a></p>
    </div>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Springboot+Thymeleaf+Bootstrap app">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<div class="navbar navbar-dark bg-dark row container-fluid">
    <nav class="navbar navbar-dark bg-dark" aria-orientation="vertical">
        <a class="navbar-brand font-weight-bold" th:utext= "${aurhorizedUser.email}"/>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:each="role: ${#authentication.authorities}" th:text="${role.authority}"/>
    </nav>
    <!--<div class="navbar navbar-dark navbar-fixed-left text-light bg-dark group" th:align="left">

        <div class="navbar text-light font-weight-bold"
             th:utext= "${aurhorizedUser.email}"></div>
        <div class ="navbar html-editor-align-left" th:text="' with roles :'"></div>
        <div class="navbar html-editor-align-left" th:each="authority : ${aurhorizedUser.authorityList}"
             th:text="${authority.getAuthority()}"></div>
        <a href="/logout" th:class="text-light">Logout</a>
    </div>-->
    <a href="/logout" th:class="text-light">Logout</a>
</div>
<body>
<!--<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-light">Project name</a>

        <a href="/logout" class="text-light">Logout</a>
    </nav>
</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div sec:authorize="hasAuthority('ADMIN')" class="nav flex-column nav-pills"
                 role="tablist" aria-orientation="vertical"
                 th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                 th:class="${#authorization.expression('hasAuthority(''USER'')') ? 'nav-link' : 'nav-link active'}">
                <!--  This content is only shown to administrators.-->
                <a href="/admin/all" >ADMIN</a>
            </div>
            <div sec:authorize="hasAuthority('USER')" th:if="${#authorization.expression('hasAuthority(''USER'')')}"
                 th:class="${#authorization.expression('hasAuthority(''ADMIN'')') ? 'nav-link' : 'nav-link active'}"
                 role="tablist" aria-orientation="vertical">
                <a href="/user">User</a>
                <!--  This content is only shown to users.-->
            </div>
            </li>
            </ul>
        </div><!--
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin/all" class="nav-link active">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                    <a class="nav-link" id="oneUser_Tab" data-toggle="tab" href="#oneUser" role="tab"
                       aria-controls="oneUser"
                       aria-selected="false">UserX</a>
                </li>
                </li>
            </ul>-->
        <div class="col-sm-10 bg-light px-5" style="height: 100vh">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab"
                       aria-controls="list"
                       aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                       aria-controls="newUser"
                       aria-selected="false">New user</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="card">
                        <div class="card-header">
                            <b>All users</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover table-users">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${allUsers}">
                                    <tr>
                                        <td th:text="${user.getId()}"></td>

                                        <td th:text="${user.getFirstName()}"></td>
                                        <!--                                        <td>enter:password</td>-->
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <div th:each="role : ${user.getAuthorityList()}">
                                                <span class="text-uppercase"
                                                      th:text="${role.toString()}"></span>
                                            </div>
                                        <td>
                                            <div class="btn-group">
                                                <button th:data-target="${'#editUser'+ user.getId()}"
                                                        data-toggle="modal"
                                                        class="btn btn-primary">Edit
                                                </button>
                                                <!--                                                <form th:method="delete" th:action="@{'/admin/__${user.id}__'}">-->

                                                <button th:data-target="${'#deleteUser'+ user.getId()}"
                                                        data-toggle="modal"
                                                        class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <div class="modal" th:id="${'editUser' + user.getId()}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <b th:text="${'Edit user '+ user.getLogin()}"></b>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="row">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <form th:action="@{/admin/{id}(id=${user.getId()})}" th:method="post"
                                                                  th:id="${'userEditForm' + user.getId()}" th:object="${user}">
                                                                <input type="hidden" name="id"
                                                                       th:value="${user.getId()}">
                                                                <!--                                                                <p>123</p>-->
                                                                <!--<input type="hidden" name="password"
                                                                       th:value="${user.getPassword()}">-->
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="showId">Id</label>
                                                                    <input type="text"
                                                                           name="userId"
                                                                           id="showId"
                                                                           class="form-control"
                                                                           th:value="${user.getId()}"
                                                                           readonly>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserUsername">FirstName</label>
                                                                    <input type="text"
                                                                           name="firstName"
                                                                           id="editUserUsername"
                                                                           class="form-control"
                                                                           th:value="${user.getFirstName()}"
                                                                           required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editEmail">Age</label>
                                                                    <input type="text"
                                                                           name="age"
                                                                           id="age"
                                                                           class="form-control"
                                                                           th:value="${user.getAge()}"
                                                                           required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editEmail">Email</label>
                                                                    <input type="text"
                                                                           name="email"
                                                                           id="editEmail"
                                                                           class="form-control"
                                                                           th:value="${user.getEmail()}"
                                                                           required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="loginN">Login</label>
                                                                    <input type="text"
                                                                           name="login"
                                                                           id="loginN"
                                                                           class="form-control"
                                                                           th:value="${user.getLogin()}"
                                                                           required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="lastName">LastName</label>
                                                                    <input type="text"
                                                                           name="lastName"
                                                                           id="lastName"
                                                                           class="form-control"
                                                                           th:value="${user.getLastName()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserPassword">Password</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="password"
                                                                           id="editUserPassword"
                                                                           th:value="${user.getPassword()}"
                                                                           placeholder="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editRole">Role</label>
                                                                    <select class="form-control" id="editRole"
                                                                            name="authorityList">
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-3"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal">Close</button>
                                                        <button type="submit" th:form="${'userEditForm'+user.getId()}"
                                                                class="btn btn-primary">Edit user
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal" th:id="${'deleteUser' + user.getId()}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <b th:text="${'Delete user '+ user.getLogin()}"></b>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="row">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <form th:action="@{/admin/{id}(id=${user.getId()})}" th:method="delete"
                                                                  th:id="${'delUserEditForm' + user.getId()}" th:object="${user}">
                                                                <input type="hidden" name="id"
                                                                       th:value="${user.getId()}">
                                                                <!--                                                                <p>123</p>-->
                                                                <!--<input type="hidden" name="password"
                                                                       th:value="${user.getPassword()}">-->
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DelShowId">Id</label>
                                                                    <input type="text"
                                                                           name="userId"
                                                                           id="DelShowId"
                                                                           class="form-control"
                                                                           th:value="${user.getId()}"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DeleteUserUsername">FirstName</label>
                                                                    <input type="text"
                                                                           name="firstName"
                                                                           id="DeleteUserUsername"
                                                                           class="form-control"
                                                                           th:value="${user.getFirstName()}"
                                                                           readonly>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DLoginN">Login</label>
                                                                    <input type="text"
                                                                           name="login"
                                                                           id="DLoginN"
                                                                           class="form-control"
                                                                           th:value="${user.getLogin()}"
                                                                           readonly>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DelEditEmail">Email</label>
                                                                    <input type="text"
                                                                           name="email"
                                                                           id="DelEditEmail"
                                                                           class="form-control"
                                                                           th:value="${user.getEmail()}"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DelLastName">LastName</label>
                                                                    <input type="text"
                                                                           name="lastName"
                                                                           id="DelLastName"
                                                                           class="form-control"
                                                                           th:value="${user.getLastName()}"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DelEditUserPassword">Password</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           readonly
                                                                           name="password"
                                                                           id="DelEditUserPassword"
                                                                           th:value="${user.getPassword()}"
                                                                           placeholder="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="DelEditRole">Role</label>
                                                                    <select class="form-control" id="DelEditRole"
                                                                            name="authorityList" size="2">
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-3"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal">Close</button>
                                                    <button type="submit" th:form="${'delUserEditForm'+user.getId()}"
                                                            class="btn btn-primary">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </th:block>
                                </tbody>
                            </table>
                            <!--<div class="modal" id="oneUser" role="tabpanel" aria-labelledby="myTab">
                                &lt;!&ndash;                                    <div class="modal" th:id="${'editUser'+user.getId()}">&ndash;&gt;
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            &lt;!&ndash;                      <b th:text="${'Edit user '+ user.getLogin()}"></b>
                                                                  <button class="close" data-dismiss="modal">&times;</button>
                                                              </div>
                                                              <div class="modal-body text-center">
                                                                  <div class="row">
                                                                      <div class="col-sm-3"></div>
                                                                      <div class="col-sm-6">&ndash;&gt;
                                            &lt;!&ndash;                                                    <td th:object="">&ndash;&gt;

                                            <td th:text="${user.getId()}"></td>

                                            <td th:text="${user.getFirstName()}"></td>
                                            &lt;!&ndash;                                        <td>enter:password</td>&ndash;&gt;
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td>
                                                <div th:each="role : ${user.getAuthorityList()}">
                                            <span class="text-uppercase"
                                                  th:text="${role.toString()}"></span>
                                                </div>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--</tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="card">
                        <div class="card-header">
                            <b>Add new user</b>
                        </div>
                        <div class="alert-info">
                            <!--                            <p th:text="${message}"></p>-->
                        </div>
                        <div class="card-body text-center border">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <div class="form-group">
                                                <form th:method="post" th:action="@{/admin}" th:object="${user}">
                                                    <div>
                                                        <label class="font-weight-bold">
                                                            FirstName
                                                        </label>
                                                        <input type="text"
                                                               name="firstName"
                                                               class="form-control"
                                                               th:text="*{firstName}"
                                                               placeholder="firstName"
                                                               required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">
                                                            LastName
                                                        </label>
                                                        <input required
                                                               type="text"
                                                               class="form-control"
                                                               th:text="*{lastName}"
                                                               name="lastName"
                                                               placeholder="lastName"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">
                                                            Age
                                                        </label>
                                                        <input required
                                                               type="text"
                                                               class="form-control"
                                                               th:text="*{age}"
                                                               name="age"
                                                               placeholder="age"
                                                        />
                                                    </div>
                                                    <label class="font-weight-bold" for="newUserEmail">
                                                        Email
                                                    </label>
                                                    <input required
                                                           type="text"
                                                           name="email"
                                                           class="form-control"
                                                           id="newUserEmail"
                                                           placeholder="email"
                                                           th:text="*{email}"

                                                    />
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="login">Login</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               name="login"
                                                               id="login"
                                                               th:text="*{login}"
                                                               placeholder="login"
                                                               required
                                                        >
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="newEditUserPassword">Password</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               name="password"
                                                               th:text="*{password}"
                                                               id="newEditUserPassword"
                                                               placeholder="password"
                                                               required
                                                        >
                                                    </div>
                                                    <!--               <input type="text"
                                                                          placeholder="Enter email"
                                                                          required>-->
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                               for="newUserRole">
                                                            Role
                                                        </label>
                                                        <select class="form-control" id="newUserRole"
                                                                size="2"
                                                                name="authorityList"
                                                                multiple="multiple">
                                                            <option>ADMIN</option>
                                                            <option>USER</option>
                                                        </select>
                                                </form>
                                                    <div class="form-group">
                                                        <button class="btn btn-success btn-create" type="submit">Add new user</button>
                                                    </div></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>