<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    <style>
            table {
                width: 100%;
                border: 4px double black;
                border-collapse: collapse;
            }
            th {
                text-align: left;
                background: #eee8aa; /* Цвет фона ячеек */
                padding: 5px; /* Поля вокруг содержимого ячеек */
                border: 1px solid black; /* Граница вокруг ячеек */
            }
        </style>-->
</head>
<body>
<!--<a th:href="@{/logout}">Logout</a>
<div>
&lt;!&ndash;    <table>&ndash;&gt;


        <table th:object="${user}" >
            <thead>
            <h2 align="center">User List</h2>
            <th>Id</th>
            <th>Login</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Mail</th>
            </thead> <tr>
                <tbody>
&lt;!&ndash;                <td><label for="id"></label></td>&ndash;&gt;
                <td><b th:text="*{id}" id="id"></b></td>
&lt;!&ndash;                <td><label for="login">Login</label></td>&ndash;&gt;
                <td><b th:text="*{login}" id="login"></b></td>
&lt;!&ndash;                <td><label for="name">First name</label></td>&ndash;&gt;
                <td><b th:text="*{firstName}" id="name"></b></td>
&lt;!&ndash;                <td><label for="SecondName">Second name</label></td>&ndash;&gt;
                <td><b th:text="*{lastName}" id="SecondName"></b></td>
&lt;!&ndash;                <td><label for="Email">E-Mail</label></td>&ndash;&gt;
                <td><b th:text="*{email}" id="Email"></b></td>
            </tbody>
            </tr>-->
<div class="navbar navbar-dark bg-dark row container-fluid">
    <nav class="navbar navbar-dark bg-dark" aria-orientation="vertical">
        <a class="navbar-brand font-weight-bold" th:utext= "${user.email}"/>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:each="role: ${#authentication.authorities}" th:text="${role.authority}"/>
    </nav>

    <a href="/logout" th:class="text-light">Logout</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- <br>
             <ul class="nav nav-pills flex-column">
                 <li class="nav-item">
                     <div>
                         <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
            <!--<a th:type="hiden" th:each="authority : ${user.authorityList}">
                <br> <tr href="/admin/all" th:text="${authority.getAuthority()}"></tr></a>-->
            <!--                     </>       <a href ="" th:attrappend="${authority.getAuthority()}=='ADMIN' ? '/admin/all' : '/user'"></a>-->
            <!--    <div sec:authorize="isAuthenticated()">AUTH
&lt;!&ndash;  This content is only shown to authenticated users.&ndash;&gt;
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">ADMIN
&lt;!&ndash;  This content is only shown to administrators.&ndash;&gt;
</div>
<div sec:authorize="hasRole('ROLE_USER')">USER
&lt;!&ndash;  This content is only shown to users.&ndash;&gt;
</div>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>-->
                        <div sec:authorize="hasAuthority('ADMIN')" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <!--  This content is only shown to administrators.-->
                            <a href="/admin/all" class = "nav-link active">ADMIN</a>
                        </div>
                        <div sec:authorize="hasAuthority('USER')" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a href="/user" class="nav-link">User</a>
                        </div>
                    </div>
                    <div class="col-sm-10 bg-light px-5" style="height: 100vh">
                        <h1>User information-page</h1>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="listTable" role="tabpanel" aria-labelledby="list-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <b>About user</b>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped table-hover table-users">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>FirstName</th>
                                                <th>LastName</th>
                                                <th>Login</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--                                                 <th:block th:each="user : ${allUsers}">-->
                                            <tr>
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getFirstName()}"></td>
                                                <td th:text="${user.getLastName()}"></td>
                                                <td th:text="${user.getLogin()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td>
                                                    <div th:each="role : ${user.getAuthorityList()}">
                                            <span class="text-uppercase"
                                                  th:text="${role.toString()}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>