<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOW_ALL_&_OPEN_CREATE_NEW_USER</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
&lt;!&ndash;    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-dark"><tr>
    <td class="col-md-10"></td>
    <td><a class="text-light" th:href="@{/logout}">Logout</a></td>
</tr></table>&ndash;&gt;-->
    <!--<div class="container">
        <table class="table table-striped">
            <thead>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
            </thead>

            <tr th:each="user : ${allUsers}" th:object="${user}">
                <td id="t_id" class="filterable-cell" th:text="*{id}"></td>
                <td><a th:href="@{'/admin/__*{id}__'}" id="t_name" class="filterable-cell" th:text="*{firstName}"></a></td>
                <td id="t_last_name" class="filterable-cell" th:text="*{lastName}"></td>
                <td id="t_email" class="filterable-cell" th:text="*{email}"></td>
                <td id="t_role" class="filterable-cell" th:text="*{authorityList}"></td>
                <td>
                    <form th:method="delete" th:action="@{'/admin/__*{id}__'}">
                        <a class="btn btn-mini btn-info" th:href="@{/admin/{id}(id=${user.getId()})}">Edit</a>
                        <input type="submit" class="btn btn-mini btn-danger" value="Delete"/>
                    </form>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-success" th:href="@{/admin/new}" id="newUser">Add user</a></p>
    </div>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Springboot+Thymeleaf+Bootstrap app">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-light">Project name</a>

        <a href="/logout" class="text-light">Logout</a>
    </nav>
</div>
<!--<th:block th:include="panel :: panel"></th:block>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <br>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin/all" class="nav-link active">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 bg-light px-5" style="height: 100vh">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab"
                       aria-controls="list"
                       aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                       aria-controls="newUser"
                       aria-selected="false">New user</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="card">
                        <div class="card-header">
                            <b>All users</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Role</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${allUsers}">
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td>
                                            <div th:each="role : ${user.getAuthorityList()}">
                                                <span class="text-uppercase"
                                                      th:text="${role.toString()}"></span>
                                            </div>
                                        </td>
                                        <td th:text="${user.getLogin()}"></td>
                                        <!--                                        <td>enter:password</td>-->
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <div class="btn-group">
                                                <button th:data-target="${'#editUser'+ user.getId()}"
                                                        data-toggle="modal"
                                                        class="btn btn-primary">Edit
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <a th:href="@{'/admin/__*{id}__'}"
                                                   class="btn btn-danger">Delete</a>

                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal" th:id="${'editUser'+user.getId()}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <b th:text="${'Edit user '+ user.getLogin()}"></b>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="row">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <form th:action="@{/admin/{id}(id=${user.getId()})}" th:method="post"
                                                                  th:id="${'userEditForm' + user.getId()}" th:object="${user}">
                                                                <input type="hidden" name="id"
                                                                       th:value="${user.getId()}">
                                                                <!--                                                                <p>123</p>-->
                                                                <!--<input type="hidden" name="password"
                                                                       th:value="${user.getPassword()}">-->
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="showId">Id</label>
                                                                    <input type="text"
                                                                           name="userId"
                                                                           id="showId"
                                                                           class="form-control"
                                                                           th:value="${user.getId()}"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editEmail">Email167</label>
                                                                    <input type="text"
                                                                           name="email"
                                                                           id="editEmail"
                                                                           class="form-control"
                                                                           th:value="${user.getEmail()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserUsername">FirstName</label>
                                                                    <input type="text"
                                                                           name="firstName"
                                                                           id="editUserUsername"
                                                                           class="form-control"
                                                                           th:value="${user.getFirstName()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="loginN">Login</label>
                                                                    <input type="text"
                                                                           name="login"
                                                                           id="loginN"
                                                                           class="form-control"
                                                                           th:value="${user.getLogin()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="lastName">LastName</label>
                                                                    <input type="text"
                                                                           name="lastName"
                                                                           id="lastName"
                                                                           class="form-control"
                                                                           th:value="${user.getLastName()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserPassword">Password</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="password"
                                                                           id="editUserPassword"
                                                                           th:value="${user.getPassword()}"
                                                                           placeholder="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editRole">Role</label>
                                                                    <select class="form-control" id="editRole"
                                                                            name="authorityList">
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-3"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal">Close</button>
                                                    <button type="submit" th:form="${'userEditForm'+user.getId()}"
                                                            class="btn btn-primary">Edit user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="card">
                        <div class="card-header">
                            <b>Add new user</b>
                        </div>
                        <div class="alert alert-info">
                            <!--                            <p th:text="${message}"></p>-->
                        </div>
                        <div class="card-body text-center border">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <form th:action="@{/admin}" th:method="post" th:object="${user}">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="newUserEmail">
                                                    Email239
                                                </label>
                                                <input required
                                                       type="text"
                                                       name="email"
                                                       class="form-control"
                                                       th:field="*{email}"
                                                       id="newUserEmail"
                                                />
                                                <!--               <input type="text"
                                                                      placeholder="Enter email"
                                                                      required>-->
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="newUserUsername">
                                                    FirstName
                                                </label>
                                                <input type="text"
                                                       name="username"
                                                       id="newUserUsername"
                                                       class="form-control"
                                                       th:field="*{firstName}"
                                                       placeholder="firstName"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="newUserName">
                                                    LastName
                                                </label>
                                                <input required
                                                       type="text"
                                                       th:field="*{lastName}"
                                                       class="form-control"
                                                       name="lastname"
                                                       id="newUserName"
                                                       placeholder="lastName"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold"
                                                       for="newUserRole">
                                                    Role
                                                </label>
                                                <select class="form-control" id="newUserRole"
                                                        name="role">
                                                    <option>ADMIN</option>
                                                    <option>USER</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-success" value="Add new user">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>