<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD_NEW_USER</title>
</head>
<body>
<table>
    <tr>
<form th:method="post" th:action="@{/user}" th:object="${user}">

    <td><label for="name">Enter name</label></td>
    <td><input required type="text" th:field="*{firstName}" id="name"/></td>
    <td><label for="SecondName">Enter SecondName</label></td>
    <td><input required type="text" th:field="*{lastName}" id="SecondName"/></td>
    <td><label for="Email">Enter E-Mail</label></td>
    <td><input required type="text" th:field="*{email}" id="Email"/></td>
    <td><input type="submit" value="Create"/></td>
</form>
    <th ><a href="/user/all"><input type="button" value="BackToList"></a></th>
    </tr>>
</table>
</body>
</html>