<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN_PAGE_HELLO</title>
</head>
<body>
HELLO
<a href="users.html">See all Users</a>>
<!--<div>
    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>E-mail</th>
        </tr>
        <tr th:each="user : ${userList}">

        &lt;!&ndash;<tr th:each="user : ${usersList}">
            <td th:text="${user.first}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
        </tr>&ndash;&gt;
    </table>
</div>-->
</body>
</html>